@font-face {
    font-family: 'Trajan Pro 3';
    src: local('Trajan Pro 3 Regular'), local('Trajan-Pro-3-Regular'),
        // url('/src/fonts/tajanPro3/regular/TrajanPro3Regular.woff2') format('woff2'),
        // url('/src/fonts/tajanPro3/regular/TrajanPro3Regular.woff') format('woff'),
        url('/src/fonts/tajanPro3/regular/TrajanPro3Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }