@font-face {
    font-family: 'Uni Neue Bold';
    src: local('Uni Neue Bold'), local('Uni-Neue-Bold'),
        url('/src/fonts/uniNeue/Bold/UniNeueBold.woff2') format('woff2'),
        url('/src/fonts/uniNeue/Bold/UniNeueBold.woff') format('woff'),
        url('/src/fonts/uniNeue/Bold/UniNeueBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display:block ;

  }