@font-face {
    font-family: 'Uni Neue Regular';
    src: local('Uni Neue Regular'), local('Uni-Neue-Regular'),
        url('/src/fonts/uniNeue/Regular/UniNeueRegular.woff2') format('woff2'),
        url('/src/fonts/uniNeue/Regular/UniNeueRegular.woff') format('woff'),
        url('/src/fonts/uniNeue/Regular/UniNeueRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }