@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
}

.container {
  max-width: 1240px;
  margin: auto;
}

@font-face {
  font-family: 'Uni Neue Bold';
  src: local("Uni Neue Bold"), local("Uni-Neue-Bold"), url("/src/fonts/uniNeue/Bold/UniNeueBold.woff2") format("woff2"), url("/src/fonts/uniNeue/Bold/UniNeueBold.woff") format("woff"), url("/src/fonts/uniNeue/Bold/UniNeueBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Uni Neue Regular';
  src: local("Uni Neue Regular"), local("Uni-Neue-Regular"), url("/src/fonts/uniNeue/Regular/UniNeueRegular.woff2") format("woff2"), url("/src/fonts/uniNeue/Regular/UniNeueRegular.woff") format("woff"), url("/src/fonts/uniNeue/Regular/UniNeueRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Trajan Pro 3';
  src: local("Trajan Pro 3 Regular"), local("Trajan-Pro-3-Regular"), url("/src/fonts/tajanPro3/regular/TrajanPro3Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.header {
  background-color: #fff;
  background-image: url("../img/header/header-bg.png");
  height: 457px;
  padding-top: 3.75rem;
}

.header-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-logo {
  display: flex;
  align-content: center;
  flex-basis: 29%;
  margin-right: 10.5625rem;
}

.header-logo__image {
  width: 54px;
  height: 49px;
}

.header-logo__text {
  font-family: "Trajan Pro 3";
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.15px;
}

.header-logo__line {
  height: 3.3125em;
  width: 1px;
  background-color: #000;
  margin-left: 20px;
  margin-right: 23px;
}

.header-contacts {
  flex-basis: 10.625rem;
  margin-right: 19.875rem;
}

.header-contacts__tel {
  font-family: "Trajan Pro 3";
  display: inline-block;
  font-size: 0.875em;
  position: relative;
  line-height: 1.43;
  margin-bottom: 1.5rem;
}

.header-contacts__tel::before {
  content: url("../img/header/call-small.png");
  position: absolute;
  bottom: 0;
  width: 1.625rem;
  left: -2.5625rem;
}

.header-contacts__email {
  font-family: "Trajan Pro 3";
  font-size: 1rem;
  position: relative;
}

.header-contacts__email::before {
  content: url("../img/header/email.png");
  position: absolute;
  bottom: -0.75rem;
  width: 1.625rem;
  left: -2.5625rem;
}

.header-call {
  position: relative;
  max-height: 5rem;
}

.header-call::before {
  content: url("../img/header/call-big.png");
  position: absolute;
  height: 5rem;
  left: -8.75rem;
  top: 5px;
}

.header-call__title {
  font-family: 'Uni Neue Bold';
  font-size: 1.78125rem;
  display: block;
  width: 15.038125rem;
  margin-bottom: 0.5rem;
}

.header-call__call {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-family: 'Uni Neue Regular';
  font-size: 0.9375rem;
  background-color: #2352e6;
  border-radius: 6px;
  padding: 10px 24px;
  width: 15.038125rem;
  position: relative;
}

.header-call__call::after {
  position: absolute;
  content: 'Позвоните мне бесплатно';
  font-family: 'Uni Neue Regular';
  font-size: 0.9375rem;
  color: #fff;
  background-color: #85bf31;
  border-radius: 6px;
  padding: 10px 24px;
  width: 15.038125rem;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .3s;
}

.header-call__call:hover::after {
  opacity: 1;
}
